@import "tailwindcss";

/* Tema por defecto (Claro - Morado/Rosa) */
:root {
  --foreground-rgb: 229, 231, 235;
  --background-start-rgb: 200, 23, 42;
  --background-end-rgb: 88, 28, 135;
}

/* MODO OSCURO (cuando exista class="dark") - "Verde Oscuro"
   Esto se activará con el botón.
*/

.dark:root {
  --foreground-rgb: 229, 231, 235;
  --background-start-rgb: 23, 28, 40;
  --background-end-rgb: 22, 163, 74;

}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  color: rgb(var(--foreground-rgb));

  background: linear-gradient(to right,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));

  transition: color 0.5s ease-in-out;
}

/* Animación para las partículas de fondo */
@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
    background-color: rgb(0, 0, 0);
    /* purple-500 con opacidad */
    opacity: 0.2;
  }

  50% {
    transform: translateY(-20px) rotate(180deg);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0) rotate(360deg);
    opacity: 0.2;
  }
}

.dark .animate-float {
  animation-name: float-dark;
}

@keyframes float-dark {
  0% {
    transform: translateY(0) rotate(0deg);
    background-color: rgb(0, 0, 0);
    /* emerald-500 con opacidad */
    opacity: 0.2;
  }

  50% {
    transform: translateY(-20px) rotate(180deg);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0) rotate(360deg);
    opacity: 0.2;
  }
}

.animate-float {
  animation: float 10s infinite ease-in-out;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #242b27 rgb(0, 0, 0);
}

html.dark ::-webkit-scrollbar-track {
  background: #000000;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #10b981;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(125%);
}

.glass-effect {
  /* Ajustamos el glass-effect para el modo claro */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}